{% assign post = include.post %} {% assign no_link_title = include.no_link_title
%} {% assign no_excerpt = include.no_excerpt %} {% assign hide_image =
include.hide_image %} {% assign hide_description = include.hide_description %}

<article
  id="post{{ post.id | replace:'/','-' }}"
  class="page post mb6"
  role="article"
>
  <header>
    <h1 class="post-title flip-project-title">
      {% unless no_link_title %}
      <a href="{{ post.url | relative_url }}" class="flip-title"
        >{{ post.title }}</a
      >
      {% endunless %}
    </h1>

    <!-- Post Date and Tags 카테고리 형식 -->
    <div class="post-date">
      {% assign category_start = "카테고리 : " | default:" in " %} {% assign
      category_separator = site.data.strings.category_separator | default:" >> "
      %} {% include components/tag-list.html tags=post.categories
      meta=site.featured_categories start_with=category_start
      separator=category_separator %}
      <br />

      <!-- Tags 카테고리 형식 -->
      태그: {% for tag in post.tags %}
      <a
        href="https://www.google.com/search?q={{ tag | replace: ' ', '+' }}"
        class="tag-link"
        target="_blank"
        >{{ tag }}</a
      >

      {% unless forloop.last %} &middot; {% endunless %} {% endfor %}

      <br />

      <!-- 등록일 -->
      {% assign post_format = "등록일: %Y년 %m월 %d일" | default: "%Y %m %d" %}
      <time datetime="{{ post.date | date_to_xmlschema }}">
        {{ post.date | date: post_format }}
      </time>

      <br />

      <!-- 최신 업데이트 일자 -->
      {% if page.last_modified_at %} {% assign updated_format = "최근 업데이트:
      %Y년 %m월 %d일" | default: "%Y %m %d" %}
      <time datetime="{{ page.last_modified_at | date_to_xmlschema }}">
        {{ page.last_modified_at | date: updated_format }}
      </time>
      {% endif %}
    </div>

    {% assign alt = false %} {% unless hide_image %} {% if post.image %} {%
    unless no_link_title %}
    <a
      href="{{ post.url | relative_url }}"
      class="no-hover no-print-link {% unless post.hide_image %}flip-project{% endunless %}"
      tabindex="-1"
    >
      {% endunless %}
      <div class="img-wrapper lead aspect-ratio sixteen-nine flip-project-img">
        {% include_cached components/hy-img.html img=post.image alt=post.title
        width=864 height=486 %}
      </div>
      {% unless no_link_title %}
    </a>
    {% endunless %} {% assign alt = '' %} {% endif %} {% endunless %} {% include
    components/message.html text=post.description hide=hide_description alt=alt
    %}
  </header>

  {% if no_excerpt %} {{ post.content }} {% else %} {{ post.excerpt }} {%
  capture post_title %}
  <a class="heading flip-title" href="{{ post.url | relative_url }}"
    >{{ post.title }}</a
  >
  {% endcapture %} {% assign text = site.data.strings.continue_reading |
  default:"Continue reading
  <!--post_title-->" %}
  <footer>
    <p class="read-more"></p>
  </footer>
  {% endif %}
</article>
